{{#if session.isAuthenticated}}
  <nav class="row full-width {{if editing.isEditing "editing"}} tab-bar firm">
    <section class="column {{leftClasses}} header-section">
      {{#if showNav}}
        <section class="column {{unless shouldShowSearch "small-2 medium-1" "small-2 medium-2"}}">
          <a class="left-off-canvas-toggle menu-icon"><span></span></a>
        </section>
      {{/if}}
      {{#if shouldShowTitle}}
        <section class="column small-10 truncate allow-overflow">
          {{#if customComponents}}
            {{yield leftComponent}}
          {{else}}
            {{app-title center=titleCenter truncate=true}}
          {{/if}}
        </section>
      {{/if}}
    </section>

    {{application-init}}

    {{#if shouldShowSearch}}
      <section class="column medium-6 large-6 show-for-medium-up header-section">
        <div class="row full-width">
          <div class="medium-12 columns text-left">
              {{#if customComponents}}
                {{yield middleComponent}}
              {{else}}
                {{yield}}
              {{/if}}
          </div>
        </div>
      </section>
    {{/if}}

    <section class="column small-6 medium-3 large-3 text-right right header-section">
      <div class="header-widget-wrap">
        <h1 data-dropdown="user-dropdown" class="username truncate">{{displayname}} {{fa-icon icon="angle-down"}}</h1>
        {{notification-count action="openNotificationDialog" notificationDisplayChange="notificationDisplayChange"}}
      </div>
      <ul id="user-dropdown" class="f-dropdown text-left" data-dropdown-content>
        {{#if allowEdit}}
          <li>{{edit-toggle}}</li>
        {{/if}}
        {{#if preferences}}
        <li>
          {{#link-to 'preferences'}}Preferences{{/link-to}}
        </li>
        {{/if}}
        <li>
          <a class="test-about-link" {{ action 'showAppInfo' }}>About</a>
        </li>
        <li>
          {{#link-to 'logout' classNames='test-logout-link'}}Logout{{/link-to}}
        </li>
      </ul>
    </section>
  </nav>
{{/if}}
