<div class="card full-width" {{action "toggleOpen"}}>
  {{#if open}}
    {{fa-icon icon="chevron-down"}}
  {{else}}
    {{fa-icon icon="chevron-right"}}
  {{/if}}
  &nbsp;&nbsp;&nbsp;
  <span class="heading">
    {{title}}
  </span>
</div>

{{#if open}}
  <div class="vertical-overflow collapse-group" style={{heightStyle}}>
    {{yield}}
  </div>
{{/if}}
