<div class='auto-width' style={{inputWidth}}>

  {{#if showSearchIcon}}
    <div class="search-icon">{{fa-icon 'search' icon="search"}}</div>
  {{/if}}

  {{#if hasBlock}}
    {{yield this}}
  {{else}}
    {{input
      value=searchInputText
      placeholder=placeholder
      enter=(action this.attrs.doSearch searchInputText)
      escape-press=(action 'cancelSearch')
      class="search-input"}}
  {{/if}}

  {{#if showClearSearchButton}}
    <div class="search-button-close" {{action 'clearSearch'}}>
      {{fa-icon icon="times-circle"}}
    </div>
  {{/if}}

</div>
