
<input id="input-{{elementId}}" placeholder={{placeholder}} type="text" data-dropdown="drop-{{elementId}}" />
<div id="drop-{{elementId}}" class="x-large f-dropdown" data-dropdown-content>
  {{yield}}
</div>
