{{#each mapList as |item|}}
  <div class="row">
    <div class="columns medium-3 all-small-padding test-property-column">
      {{item.property}}
    </div>
    <div class="columns medium-7 test-value-column">
      {{#if isLocked}}
        {{item.value}}
      {{else}}
          {{input value=item.value key-press=(action "debounceUpdate") placeholder="value" class="no-border"}}
      {{/if}}
    </div>
    <div class="columns medium-2">
      {{#unless isLocked}}
        <a class="test-delete-link" {{action "deleteProperty" item}}>{{fa-icon icon="close"}}</a>
      {{/unless}}
    </div>
  </div>
{{/each}}
<hr />
{{#unless isLocked}}
<div class="row">
  <div class="columns medium-8">
    {{input value=newProperty placeholder="property" enter="addProperty" class="test-new-property"}}
  </div>
  <div class="columns medium-4">
    <button class="outline-only" {{action "addProperty"}}>Add Property</button>
  </div>
</div>
{{/unless}}
