<div class="reveal-modal-bg" {{action 'closeModal' bubbles=false}}></div>
{{#if preventBubbling}}
  <div class="reveal-modal {{modalClassNames}}" {{action 'noAction' bubbles=false}}>
    {{yield}}
    {{#if showCloseBtn }}
      <a class="close-reveal-modal" aria-label="Close" {{action 'closeModal' bubbles=false}}>&#215;</a>
    {{/if}}
  </div>
{{else}}
  <div class="reveal-modal {{modalClassNames}}">
    {{yield}}
    {{#if showCloseBtn }}
      <a class="close-reveal-modal" aria-label="Close" {{action 'closeModal'}}>&#215;</a>
    {{/if}}
  </div>
{{/if}}
