{{#unless useCustomButton}}
  {{#if isDisabled}}
    <!-- using a binding to add/remove an attribute wasn't working so I had to use an if block. -->
    <a id={{dropdownButtonId}} class={{btnClasses}} disabled data-test-button title={{disabledText}}>
      {{html}}<span class={{btnTextClasses}}>{{btnText}}</span>
      {{#if arrow}}
        {{fa-icon icon="angle-down" class="dropdown-arrow"}}
      {{/if}}
    </a>
  {{else}}
    <a id={{dropdownButtonId}} class={{btnClasses}} data-dropdown="{{dropdownId}}" data-test-button>
      {{html}}<span class={{btnTextClasses}}>{{btnText}}</span>
      {{#if arrow}}
        {{fa-icon icon="angle-down" class="dropdown-arrow"}}
      {{/if}}
    </a>
  {{/if}}
{{/unless}}

{{#unless isDisabled}}
  <ul id={{dropdownId}} class="f-dropdown {{class}}" data-dropdown-content data-test-content>
    {{!-- your content:  <li><a></a></li>--}}
    {{yield}}
  </ul>
{{/unless}}
