  {{#if showGoal}}
    <p class="goalNum" style={{goalPercentCss}}>{{goal}}</p>
  {{/if}}
  <p class="all">{{all}}</p>
  <div class="overflow-wrap round">
    <span class="meter skipped" style={{skippedDisplayPercent}}>
      <p>{{skipped}}</p>
    </span>
    <span class="complete meter {{if isComplete 'completed'}}" style={{completedStyle}}>
      <p>{{completed}}</p>
    </span>
  </div>
  {{#if showGoal}}
    <span class="goal" style={{goalPercentCss}}></span>
  {{/if}}
