<div class="main-table-bar firm"></div>

<div class="main-table-padding flex">
  <table>
    <thead>
      <tr>
        {{#if checkboxes}}
          <th scope="col small">
            <div class="th-content">
              {{input type="checkbox" checked=allChecked}}
            </div>
          </th>
        {{/if}}

        {{#each columns as |col|}}
          <th scope="col" width="{{col.width}}">
            {{#if col.filterable}}
              {{q-table-filter-dropdown
                elementName=(concat elementId "-" (valid-id col.name) "-col")
                name=col.field
                filter=col.filterValue
                saveFilter=(action "saveFilter")
                type=col.type
                dropdownClasses=col.dropdownClasses}}
            {{/if}}
            <div class="th-content test-col-header">
              <span data-tooltip aria-haspopup="true" class="column-name has-tip" title="{{upper-case col.name}}">{{upper-case col.name}}</span>
              <span class="column-icons">
                {{#if col.sortable}}
                  <span {{action "setSort" col}}>
                    {{#if (eq currentSort col.field)}}
                      {{#if sortAscending}}
                        <i class="fa fa-sort-asc selected-highlight"></i>
                      {{else}}
                        <i class="fa fa-sort-desc selected-highlight"></i>
                      {{/if}}
                    {{else}}
                      <i class="fa fa-sort"></i>
                    {{/if}}
                  </span>
                {{/if}}
                {{#if col.filterable}}
                  <span class="filter-trigger tooltip-trigger hover-area {{if (is-empty col.filterValue) "" "selected-highlight"}}"
                    data-dropdown="{{elementId}}-{{valid-id col.name}}-col"
                    aria-controls="dropdown"
                    aria-expanded="false">
                      <i class="fa fa-filter"></i>
                  </span>
                {{/if}}
              </span>
            </div>
          </th>
        {{/each}}

        {{#if deleteColumn}}
          <th scope="col small">
            <div class="th-content">

            </div>
          </th>
        {{/if}}
      </tr>
    </thead>

    <tbody>
      {{#each content as |row index|}}
        {{#if linkName}}
          {{#link-to linkName row.id tagName="tr"}}
            {{#if checkboxes}}
              <td class="check small"><input type="checkbox"></td>
            {{/if}}

            {{#each columns as |col|}}
              {{q-table-cell
                data=row
                field=col.field
                type=col.type
                name=col.name
                format=col.format
                class=col.class
                args=col.args
                componentParams=col.componentParams
                componentName=col.component
                transform=col.transform
                change=(action "change" row)}}
            {{/each}}

            {{#if deleteColumn}}
              <td class="small center-align close" {{action "delete" row}}>
                <a href="javascript:void(0)" class="button delete-button">{{fa-icon "trash"}}</a>
              </td>
            {{/if}}
          {{/link-to}}

        {{else}}
          <tr {{action "select" row index preventDefault=false}} class="{{if (eq selectedRow row) "selected"}} {{row.style}}">
            {{#if checkboxes}}
              <td class="check small">
                {{input type="checkbox" checked=row.isChecked}}
              </td>
            {{/if}}

            {{#each columns as |col|}}

              {{#if (eq col.type 'link')}}

                <td>
                  <a class="inline-link" {{action "linkClick" col.name row}}>{{col.name}}</a>
                </td>

              {{else}}

                {{q-table-cell
                  data=row
                  field=col.field
                  type=col.type
                  name=col.name
                  format=col.format
                  class=col.class
                  args=col.args
                  componentParams=col.componentParams
                  componentName=col.component
                  transform=col.transform
                  action=col.action
                  change=(action "change" row)}}

              {{/if}}
            {{/each}}

            {{#if deleteColumn}}
              <td class="small center-align close" {{action "delete" row}}>
                <a href="javascript:void(0)" class="button delete-button">{{fa-icon "trash"}}</a>
              </td>
            {{/if}}
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>

  {{#if isLoading}}
    <div class="full-width text-center">
      {{qpid-spinner}}
    </div>
  {{/if}}
</div>
