<thead>
  <tr>
    {{#each safeColumns as |col index|}}
      <th class='th-content {{col.headerClass}}' style={{col.safeWidth}} {{action 'sortTable' col.sortByField}} >
        {{#if col.icon}}
          {{#if col.clickable}}
            {{fa-icon col.icon click=(action "columnHeaderClick" col.action index) class="pointer-cursor" title=col.title}}
          {{else}}
            {{fa-icon col.icon title=col.title}}
          {{/if}}
        {{else if col.checkbox}}
            <input type="checkbox" checked={{col.checked}} onclick={{action "columnHeaderClick" col.action index}} />
        {{else}}
          {{#if col.clickable}}
            <span class="pointer-cursor" {{action "columnHeaderClick" col.action index}}>{{col.headerText }}</span>
          {{else}}
            <span>{{col.headerText }}</span>
          {{/if}}
        {{/if}}

        {{#if col.sortByField }}
          {{#if (eq sortField col.sortByField) }}
            {{fa-icon icon=(if sortAscending 'chevron-up' 'chevron-down') }}

          {{else}}
            {{fa-icon icon='sort' }}
          {{/if}}
        {{/if}}
      </th>
    {{/each}}
  </tr>
</thead>

<tbody>
  {{#each sortedRows as |row| }}
    {{yield row}}
  {{/each}}
</tbody>
