<h3>Plain Text Autocomplete</h3>

<p>Selected item: {{selectedPlainTextValue}}</p>

{{#qpid-autocomplete
  inputClass='search-input plain-text'
  itemSelected=(action 'plainTextItemSelected')
  searchQueryAction=(action 'plainTextResultsSearch')
  selectedValue=selectedPlainTextValue as |result userInput|}}

  {{result}}
{{else}}
  No results
{{/qpid-autocomplete}}

<h3>Object with formatter Autocomplete</h3>

<p>Selected item: {{selectedObjectValue}}</p>

{{#qpid-autocomplete
  inputClass='search-input object'
  itemSelected=(action 'objectItemSelected')
  searchQueryAction=(action 'objectResultsSearch')
  selectedLabelFormatter=objectLabelFormatter
  selectedValue=selectedObjectValue as |result userInput|}}

  {{result.id}} - {{result.name}}
{{else}}
  No results
{{/qpid-autocomplete}}
