
<div class="full-width sub-top-bar firm">
    <div class="row full-width small-padding">
        <div class="medium-4 columns text-left">
            {{#link-to 'index'}}{{fa-icon 'chevron-left'}} Back{{/link-to}}
        </div>
        <div class="medium-4 columns text-center">
            <p>Summary Results</p>
        </div>
        <div class="medium-4 columns text-right">
            &nbsp;
        </div>
    </div>
</div>


<div class="row full-width full-height flex">
    {{#card-column medium9=true resize=true}}

        {{#card-column-main}}

            {{summary-results
                data=model.data
                title=model.title
                showCount=model.showCount
                description=model.description}}

        {{/card-column-main}}

    {{/card-column}}

    {{#card-column medium3=true}}

        {{#card-column-main}}
            {{#card-wrapper noHover=true}}
                <h3>Component Data Context</h3>
                {{qpid-query-editor value=model.dataText valueUpdated="updateData"}}
            {{/card-wrapper}}

            {{#card-wrapper noHover=true}}
                <h3>Component Parameters</h3>
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            {{input type="checkbox" checked=model.showCount}}
                            Show Count
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            Title
                            {{input value=model.title placeholder="title"}}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            Description
                            {{input value=model.description placeholder="description"}}
                        </label>
                    </div>
                </div>
            {{/card-wrapper}}
        {{/card-column-main}}

    {{/card-column}}


</div>
{{!--



<h1>Parameter: Count</h1>

<div class="card small alert">

    <div class="aside">
        <img class="icon" src="icon-lab.png">
    </div>

    <div class="header">
        <span class="heading">keflex</span>
		<span class="right">
			<span class="count">7 results</span>
			<span class="pipe"></span>
			<span class="confidence high">93%</span>
		</span>
    </div>
    <div class="content">
        <span class="description">description goes here...</span>
        <span class="round secondary label">tag</span><span class="round secondary label">tag</span><span class="round secondary label">tag</span>
    </div>
    <div class="footer">
        <span class="attributes">Not Type</span>
        <span class="attributes">Dr. Nick Riviera</span>
        <span class="attributes">Monday 12/34/5678</span>
    </div>
</div>




<h1>Parameters:</h1>

<ul>
    <li>Card Type</li>
    <li>Card Type (icon?)</li>
    <li>Note Type</li>
    <li>Note Author</li>
    <li>Note Date</li>
    <li>Confidence</li>
    <li>Snippet</li>
    <li>Tags</li>
    <li>Trends</li>
    <li>Action</li>
    <li>Edit</li>
    <li>Delete</li>
</ul>

--}}
